.discount{
    flex: 4;
}

.discountTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.discountTop {
    display: flex;
  }
  
.discountTopLeft,
.discountTopRight {
    flex: 1;
}

.discountTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

.discountInfoTop {
    display: flex;
    align-items: center;
}
  
.discountName {
    font-weight: 600;
}
  
.discountInfoBottom {
    margin-top: 10px;
}
  
.discountInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
  
.discountInfoValue {
    font-weight: 300;
    padding-left: 10px;

}
  
.discountBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
  
.discountForm {
    display: flex;
    justify-content: space-between;
}
  
.discountFormLeft {
    display: flex;
    flex-direction: column;
}
  
.discountFormLeft > label {
    margin-bottom: 10px;
    color: gray;
}
  
.discountFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}
  
.discountFormLeft >select{
    margin-bottom: 10px;
}
  
.discountFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 

.discountButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
}